---
import {
  Github,
  X,
  Linkedin,
  Gmail,
  Discord,
  Typescript,
  Astro as AstroIcon,
  Nextdotjs,
  Tailwindcss,
  React,
  Trpc,
  Prisma,
  Mysql,
  Amazonaws,
  Planetscale,
  Vuedotjs,
  Openproject,
  Ruby,
  Rubyonrails,
  Vercel,
  Googleanalytics,
  Python,
  Googlecloud,
  Neovim,
  Lua,
} from "simple-icons-astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LinkIcon from "../components/LinkIcon.astro";
import Project from "../components/Project.astro";
---

<Layout title="Joel Giovinazzo">
  <main class="h-screen text-[#13151a] lg:py-10">
    <Card title="Joel Giovinazzo">
      <p class="text-center text-lg font-light">
        I am a DevOps Engineer in Australia that likes to play around with
        emerging web tech and timeseries data. Currently working on <a
          class="text-blue-600 hover:underline"
          href="https://odinomics.com">Odinomics</a
        >.
      </p>
    </Card>
    <Card title="Skills">
      <LinkIcon title="TypeScript" link="https://www.typescriptlang.org/">
        <Typescript class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://www.python.org/" title="Python">
        <Python class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://astro.build" title="Astro">
        <AstroIcon class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://react.dev/" title="React">
        <React class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://nextjs.org/" title="Next.js">
        <Nextdotjs class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://tailwindcss.com" title="Tailwindcss">
        <Tailwindcss class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://trpc.io" title="tRPC">
        <Trpc class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://prisma.io" title="Prisma">
        <Prisma class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://www.mysql.com/" title="MySQL">
        <Mysql class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://planetscale.com" title="Planetscale">
        <Planetscale class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://aws.amazon.com/" title="AWS">
        <Amazonaws class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://cloud.google.com" title="Google Cloud">
        <Googlecloud class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://github.com" title="Github">
        <Github class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon link="https://neovim.io/" title="Neovim">
        <Neovim class="pointer-events-none" />
      </LinkIcon>
    </Card>
    <Card title="Projects">
      <div class="flex w-full flex-col">
        <p class="text-center text-lg font-light">
          Some notable projects I have contributed to:
        </p>
        <ul role="list" class="divide-y divide-gray-100">
          <Project
            name="OpenProject"
            description="Added email integration for Gmail API, more secure than POP or IMAP"
            githubLink="https://github.com/opf/openproject/pull/12094"
          >
            <dd title="Ruby">
              <Ruby class="hover:none pointer-events-none h-6 w-6 bg-gray-50" />
            </dd>
            <dd title="Ruby On Rails">
              <Rubyonrails
                class="hover:none pointer-events-none h-6 w-6 bg-gray-50"
              />
            </dd>
            <dd title="OpenProject">
              <Openproject
                class="hover:none pointer-events-none h-6 w-6 bg-gray-50"
              />
            </dd>
          </Project>
          <Project
            name="Joelgiovinazzo.com"
            description="This website!"
            githubLink="https://github.com/Givo29/joelgiovinazzo.com"
          >
            <dd class="transition-all" title="Astro">
              <AstroIcon
                class="hover:none pointer-events-none h-6 w-6 bg-gray-50"
              />
            </dd>
            <dd class="transition-all" title="TailwindCSS">
              <Tailwindcss
                class="hover:none pointer-events-none h-6 w-6 bg-gray-50"
              />
            </dd>
          </Project>
          <Project
            name="Timesince"
            description="A minimal web app made in Vue.js for easy calculations of time between two dates"
            githubLink="https://github.com/Givo29/timesince"
          >
            <dd class="transition-all" title="Vue.js">
              <Vuedotjs
                class="hover:none pointer-events-none h-6 w-6 bg-gray-50"
              />
            </dd>
            <dd title="Vercel" data-tooltip-placement="bottom">
              <Vercel class="pointer-events-none h-6 w-6 bg-gray-50" />
            </dd>
            <dd title="Google Analytics" data-tooltip-placement="bottom">
              <Googleanalytics class="pointer-events-none h-6 w-6 bg-gray-50" />
            </dd>
          </Project>
          <Project
            name="Google Drive File Audit"
            description="A Python script to find and audit all files recursively within a Google Drive folder or shared drive"
            githubLink="https://github.com/DeBortoliWines/gdrive-file-audit"
          >
            <dd title="Python">
              <Python class="h-6 w-6 bg-gray-50" />
            </dd>
            <dd title="Google Cloud">
              <Googlecloud class="h-6 w-6 bg-gray-50" />
            </dd>
          </Project>
          <Project
            name="Nvim"
            description="A custom minimal-ish Neovim config written in Lua"
            githubLink="https://github.com/givo29/nvim"
          >
            <dd title="Neovim">
              <Neovim class="h-6 w-6 bg-gray-50" />
            </dd>
            <dd title="Lua">
              <Lua class="h-6 w-6 bg-gray-50" />
            </dd>
          </Project>
        </ul>
      </div>
    </Card>
    <Card title="Links">
      <LinkIcon title="@Givo29" link="https://github.com/givo29">
        <Github class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon title="@Givo29" link="https://twitter.com/Givo29">
        <X class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon
        title="Joel Giovinazzo"
        link="https://www.linkedin.com/in/joel-giovinazzo-9824961b5/"
      >
        <Linkedin class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon
        title="joel@joelgiovinazzo.com"
        link="mailto:joel@joelgiovinazzo.com"
      >
        <Gmail class="pointer-events-none" />
      </LinkIcon>
      <LinkIcon
        title="MALEV0L3NT"
        link="https://discord.com/users/403035425540931586"
      >
        <Discord class="pointer-events-none" />
      </LinkIcon>
    </Card>
  </main>
</Layout>
