---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LinkIcon from "../components/LinkIcon.astro";
import Project from "../components/Project.astro";
---

<Layout title="Joel Giovinazzo">
  <main class="max-h-screen text-[#13151a]">
    <Card title="Joel Giovinazzo">
      <p class="text-center text-lg font-light">
        I am a DevOps Engineer in Australia that likes discovering emerging web
        tech, data engineering and solving problems.
      </p>
    </Card>

    <Card title="Skills">
      <LinkIcon title="TypeScript" link="https://www.typescriptlang.org/">
        <svg class="icon-svg">
          <use href="/icons.svg#typescript"></use>
        </svg>
        <span class="icon-tooltip skill">TypeScript</span>
      </LinkIcon>

      <LinkIcon link="https://www.python.org/" title="Python">
        <svg class="icon-svg">
          <use href="/icons.svg#python"></use>
        </svg>
        <span class="icon-tooltip skill">Python</span>
      </LinkIcon>

      <LinkIcon link="https://astro.build" title="Astro">
        <svg class="icon-svg">
          <use href="/icons.svg#astro"></use>
        </svg>
        <span class="icon-tooltip skill">Astro</span>
      </LinkIcon>

      <LinkIcon link="https://react.dev/" title="React">
        <svg class="icon-svg">
          <use href="/icons.svg#reactjs"></use>
        </svg>
        <span class="icon-tooltip skill">React</span>
      </LinkIcon>

      <LinkIcon link="https://nextjs.org/" title="Next.js">
        <svg class="icon-svg">
          <use href="/icons.svg#nextjs"></use>
        </svg>
        <span class="icon-tooltip skill">Next.js</span>
      </LinkIcon>

      <LinkIcon link="https://tailwindcss.com" title="Tailwindcss">
        <svg class="icon-svg">
          <use href="/icons.svg#tailwindcss"></use>
        </svg>
        <span class="icon-tooltip skill">TailwindCSS</span>
      </LinkIcon>

      <LinkIcon link="https://trpc.io" title="tRPC">
        <svg class="icon-svg">
          <use href="/icons.svg#trpc"></use>
        </svg>
        <span class="icon-tooltip skill">TRPC</span>
      </LinkIcon>

      <LinkIcon link="https://prisma.io" title="Prisma">
        <svg class="icon-svg">
          <use href="/icons.svg#prisma"></use>
        </svg>
        <span class="icon-tooltip skill">Prisma</span>
      </LinkIcon>

      <LinkIcon link="https://www.mysql.com/" title="MySQL">
        <svg class="icon-svg">
          <use href="/icons.svg#mysql"></use>
        </svg>
        <span class="icon-tooltip skill">MySQL</span>
      </LinkIcon>

      <LinkIcon link="https://planetscale.com" title="Planetscale">
        <svg class="icon-svg">
          <use href="/icons.svg#planetscale"></use>
        </svg>
        <span class="icon-tooltip skill">PlanetScale</span>
      </LinkIcon>

      <LinkIcon link="https://aws.amazon.com/" title="AWS">
        <svg class="icon-svg">
          <use href="/icons.svg#aws"></use>
        </svg>
        <span class="icon-tooltip skill">AWS</span>
      </LinkIcon>

      <LinkIcon link="https://cloud.google.com" title="Google Cloud">
        <svg class="icon-svg">
          <use href="/icons.svg#gcp"></use>
        </svg>
        <span class="icon-tooltip skill">GCP</span>
      </LinkIcon>

      <LinkIcon link="https://github.com" title="Github">
        <svg class="icon-svg">
          <use href="/icons.svg#github"></use>
        </svg>
        <span class="icon-tooltip skill">GitHub</span>
      </LinkIcon>
    </Card>

    <Card title="Projects">
      <div class="flex w-full flex-col">
        <p class="text-center text-lg font-light">
          Some notable projects I have contributed to:
        </p>
        <ul role="list" class="divide-y divide-gray-100">
          <Project
            name="Tuidle"
            description="TUI version of wordle built with Go"
            githubLink="https://github.com/givo29/tuidle"
          >
            <dd class="group project-icon-wrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#go"></use>
              </svg>
              <span class="icon-tooltip">Golang</span>
            </dd>
          </Project>

          <Project
            name="Timediff"
            description="Simple Go library for diffing datetime. Inspired by luxon.js"
            githubLink="https://github.com/givo29/timediff"
          >
            <dd class="group project-icon-wrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#go"></use>
              </svg>
              <span class="icon-tooltip">Golang</span>
            </dd>
          </Project>

          <Project
            name="OpenProject"
            description="Added email integration for Gmail API, more secure than POP or IMAP"
            githubLink="https://github.com/opf/openproject/pull/12094"
          >
            <dd class="group project-icon-wrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#ruby"></use>
              </svg>
              <span class="icon-tooltip">Ruby</span>
            </dd>
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#rails"></use>
              </svg>
              <span class="icon-tooltip">Ruby On Rails</span>
            </dd>
            <dd class="group project-icon-wrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#openproject"></use>
              </svg>
              <span class="icon-tooltip">OpenProject</span>
            </dd>
          </Project>

          <Project
            name="Joelgiovinazzo.com"
            description="This website!"
            githubLink="https://github.com/Givo29/joelgiovinazzo.com"
          >
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#astro"></use>
              </svg>
              <span class="icon-tooltip">Astro</span>
            </dd>
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#tailwindcss"></use>
              </svg>
              <span class="icon-tooltip">TailwindCSS</span>
            </dd>
          </Project>

          <Project
            name="Timesince"
            description="A minimal web app made in Vue.js for easy calculations of time between two dates"
            githubLink="https://github.com/Givo29/timesince"
          >
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#vue"></use>
              </svg>
              <span class="icon-tooltip">Vue.js</span>
            </dd>
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#vercel"></use>
              </svg>
              <span class="icon-tooltip">Vercel</span>
            </dd>
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#googleanalytics"></use>
              </svg>
              <span class="icon-tooltip">Google Analytics</span>
            </dd>
          </Project>

          <Project
            name="Google Drive File Audit"
            description="A Python script to find and audit all files recursively within a Google Drive folder or shared drive"
            githubLink="https://github.com/DeBortoliWines/gdrive-file-audit"
          >
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#python"></use>
              </svg>
              <span class="icon-tooltip">Python</span>
            </dd>
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#gcp"></use>
              </svg>
              <span class="icon-tooltip">Google Cloud Platform</span>
            </dd>
          </Project>

          <Project
            name="Nvim"
            description="A custom minimal-ish Neovim config written in Lua"
            githubLink="https://github.com/givo29/nvim"
          >
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#neovim"></use>
              </svg>
              <span class="icon-tooltip">NeoVim</span>
            </dd>
            <dd class="group project-icon-nowrap">
              <svg class="hover:none pointer-events-none h-7 w-7">
                <use href="/icons.svg#lua"></use>
              </svg>
              <span class="icon-tooltip">Lua</span>
            </dd>
          </Project>
        </ul>
      </div>
    </Card>

    <Card title="Links">
      <LinkIcon title="@Givo29" link="https://github.com/givo29">
        <svg class="icon-svg">
          <use href="/icons.svg#github"></use>
        </svg>
      </LinkIcon>
      <LinkIcon title="@Givo29" link="https://twitter.com/Givo29">
        <svg class="icon-svg">
          <use href="/icons.svg#x"></use>
        </svg>
      </LinkIcon>
      <LinkIcon
        title="Joel Giovinazzo"
        link="https://www.linkedin.com/in/joel-giovinazzo-9824961b5/"
      >
        <svg class="icon-svg">
          <use href="/icons.svg#linkedin"></use>
        </svg>
      </LinkIcon>
      <LinkIcon
        title="joel@joelgiovinazzo.com"
        link="mailto:joel@joelgiovinazzo.com"
      >
        <svg class="icon-svg">
          <use href="/icons.svg#gmail"></use>
        </svg>
      </LinkIcon>
      <LinkIcon
        title="MALEV0L3NT"
        link="https://discord.com/users/403035425540931586"
      >
        <svg class="icon-svg">
          <use href="/icons.svg#discord"></use>
        </svg>
      </LinkIcon>
    </Card>
  </main>
</Layout>

<style>
  .icon-svg {
    @apply h-7 w-7 bg-white transition-all hover:scale-125;
  }

  .project-icon-wrap {
    @apply relative mx-4 my-5 flex flex-wrap justify-center gap-x-3 sm:mx-2 md:gap-x-0;
  }

  .project-icon-nowrap {
    @apply relative mx-4 my-5 flex flex-nowrap justify-around gap-x-3 sm:mx-2 md:gap-x-0;
  }
</style>
