---
interface Props {
  title: string;
  link: string;
}

const { title, link } = Astro.props;
---

<a
  class="spacing-x-3 md:spacing-x-0 mx-4 my-5 flex flex-wrap justify-around transition-all hover:scale-125 sm:mx-2"
  href={link}
  title={title}
>
  <slot />
</a>
