---
interface Props {
  name: string;
  githubLink: string;
}

const { name, githubLink } = Astro.props;
---

<li
  class="flex flex-wrap items-center justify-between gap-x-6 py-5 sm:flex-nowrap"
>
  <div>
    <p class="text-sm font-semibold leading-6">
      <a href={githubLink} class="text-blue-600 hover:underline">{name}</a>
    </p>
    <div class="flex text-xs text-gray-500">
      <p>
        <slot name="desc" />
      </p>
    </div>
  </div>
  <dl class="flex space-x-1 w-full sm:w-auto">
    <slot />
  </dl>
</li>
