---
interface Props {
  title: string;
  link: string;
}

const { title, link } = Astro.props;
---

<a
  class="spacing-x-4 md:spacing-x-0 flex flex-wrap justify-around px-4 py-5 transition-all hover:scale-125 sm:px-6"
  href={link}
  title={title}
>
  <slot />
</a>
