---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal site!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:," />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: Tahoma, system-ui, sans-serif;
        background: #13151a;
      }

      .icon-tooltip {
        position: absolute;
        top: 8px;
        transform: translateY(100%);
        display: none;
        white-space: nowrap;
        color: #fff;
        font-size: 0.875rem;
        padding: 4px 8px 4px 8px;
        background-color: rgb(55, 65, 81);
        border-radius: 0.5rem;
      }

      .group:hover .icon-tooltip {
        display: flex;
      }

      .icon-tooltip::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%);
        border-width: 8px;
        border-color: transparent transparent rgb(55, 65, 81) transparent;
      }
    </style>
  </body>
</html>
